*.log
node_modules
src
tests
.github
dangerfile.js
.travis.yml
.gitattributes
.babelrc
.eslintrc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
jestConfig.js
Dockerfile
terra.png
CONTRIBUTORS.md
reports
aggregated-translations/